.chart-row.carbon .chart-row--donut {
  /* center */
  justify-self: center;
  /* After removing callouts, the proportions are off, trim the extra space
     https://github.com/carbon-design-system/carbon-charts/pull/927#issuecomment-765796640 */
  margin: 0 auto;

  /* adjust white spacing to match other charts */
  margin: 0.75rem 0rem 0.75rem 1.75rem;
}

@media (max-width: 767px) {
  .chart-row.carbon .chart-row--donut {
    margin: 0 auto;
  }
}

#charts.carbon g text {
  fill: var(--chart-label-color) !important;
}
#charts.carbon .cds--chart-holder {
  --cds-grid-bg: var(--chart-background-color);
}
#charts.carbon .cds--chart-holder .cds--cc--area-stacked path.area {
  fill: var(
    --cv-dominant-language-background,
    var(--cds-kAcharts-1-1-1, #6929c4)
  );
}
#charts.carbon .cds--chart-holder .cds--cc--line path.line {
  stroke: var(
    --cv-dominant-language-background,
    var(--cds-charts-1-1-1, #6929c4)
  );
}
.dark #charts.carbon .cds--chart-holder .y.grid .tick,
.dark #charts.carbon .cds--chart-holder .x.grid .tick {
  opacity: 0.4;
}
