{
  "printWidth": 80,
  "importOrder": [
    "^react",
    "",
    "<THIRD_PARTY_MODULES>",
    "",
    "^@tony/(.*)$",
    "",
    "^[./]",
    "",
    "\\.s?css$"
  ],
  "plugins": ["@ianvs/prettier-plugin-sort-imports"],
  "importOrderSeparation": true,
  "importOrderParserPlugins" : ["typescript", "jsx", "decorators-legacy"]
}
