{
  "printWidth": 80,
  "importOrder": [
    "^react",
    "",
    "<THIRD_PARTY_MODULES>",
    "",
    "^@tony/(.*)$",
    "",
    "^[./]",
    "",
    "\\.s?css$"
  ],
  "plugins": ["@ianvs/prettier-plugin-sort-imports"],
  "importOrderParserPlugins" : ["typescript", "jsx", "decorators-legacy"],
  "importOrderTypeScriptVersion": "5.0.0"
}
