.color-scheme-toggle {
  display: flex;
  margin-right: var(--nav-icon-size);
}
.color-scheme-toggle--icon {
  margin-left: var(--nav-icon-separation);
  user-select: none;
}
.color-scheme-toggle--icon--mode {
  cursor: pointer;
  filter: grayscale(1);
}
.color-scheme-toggle--icon--clear {
  filter: grayscale(0.5);
  cursor: pointer;
}
.color-scheme-toggle--icon--clear.disabled {
  filter: grayscale(1);
  cursor: default;
}


