:root {
  --nav-bg-color: #0854a0;
  --nav-bg-color-400: #0961b8;
  --nav-bg-color-600: #063b6f;
  --nav-bg-color-800: #01080e;
  --nav-bg-color-900: black;
  --nav-logo-size: 2rem;
  --nav-icon-separation: 0.25rem;
  --nav-site-name-text-color: white;
  --nav-site-name-text-shadow-color: #ffffff40;
}

html.light,
html:not(.dark) {
  --bg-image-url: url("/logo.svg");
}

/* @media (prefers-color-scheme: dark) { */
html.dark {
  --bg-image-url: url("/logo-dark.svg");
  --nav-bg-color: #0b1723;
  --nav-site-name-text-color: white;
  --nav-site-name-text-shadow-color: #333;
}

.site-info {
  display: flex;
  width: 100%;
}

.site-info--filler {
  flex-grow: 1;
}

.site-info--color-scheme-toggle--container {
  display: flex;
  place-items: center;
  margin-right: 1rem;
}

nav#top-nav {
  background: var(--nav-bg-color);
  display: flex;
  place-items: center;
  height: var(--nav-height);
}
nav#top-nav .site-info--site-name {
  padding: 0 1rem 0 0.5rem;
  color: var(--nav-site-name-text-color);
  text-shadow: 1px 1px 0px var(--nav-site-name-text-shadow-color);
  place-items: center;
  display: flex;
  font-size: 1rem;
  line-height: 1.25rem;
}
nav#top-nav .site-info--logo {
  height: var(--nav-height);
}

nav#top-nav .site-info--logo--img {
  height: var(--nav-height);
  width: var(--nav-logo-size);
  background: var(--bg-image-url) var(--nav-icon-separation) center no-repeat;
}

nav#top-nav .site-info--logo .header--version {
  font-weight: bold;
  font-size: 1rem;
  margin-left: 0.5rem;
}
nav#top-nav .site-info--logo .header--super {
  font-weight: bold;
  font-size: 0.6rem;
  vertical-align: super;
}
@media (max-width: 375px) {
  nav#top-nav .site-info--logo .header--lastname,
  nav#top-nav .site-info--logo .header--version,
  nav#top-nav .site-info--logo .header--super {
    display: none;
  }
}
@media (max-width: 1023px) {
  nav#top-nav .site-info--logo .header--version,
  nav#top-nav .site-info--logo .header--super {
    display: none;
  }
}
nav#top-nav > div,
nav#top-nav > ul {
  font-size: 0.8rem;
  display: inline-flex;
}
nav#top-nav ul {
  list-style: none;
  margin: 0;
  padding-left: 0;
}
nav#top-nav li {
  background: var(--nav-bg-color);
  padding: 0 1rem;
  height: var(--nav-height);
  color: #fff;
  position: relative;
  text-decoration: none;
  transition-duration: 0.5s;
  display: flex;
  place-items: center;
}
@media (max-width: 768px) {
  nav#top-nav li {
    padding: 0 0.5rem;
  }
}
nav#top-nav li img {
  padding: 0 0.5rem;
}
@media (max-width: 481px) {
  nav#top-nav li.framework .label {
    display: none;
  }
}
nav#top-nav li a {
  color: #fff;
  text-decoration: none;
  font-size: 0.95rem;
  display: flex;
}
nav#top-nav li.active,
nav#top-nav li:hover,
nav#top-nav li:focus-within {
  z-index: 6000;
  background: var(--nav-bg-color-600);
}
nav#top-nav li:focus-within a {
  outline: none;
}
nav#top-nav ul li ul.submenu {
  width: 15rem;
  background: var(--nav-bg-color-400);
  visibility: hidden;
  opacity: 0;
  min-width: 5rem;
  position: absolute;
  transition: all 0.5s ease;
  top: var(--nav-height);
  left: 0;
  display: none;
}
nav#top-nav ul li ul.submenu li {
  background: var(--nav-bg-color-400);
}
nav#top-nav ul li ul.submenu li:hover,
nav#top-nav ul li ul.submenu li.active {
  background: var(--nav-bg-color);
}
nav#top-nav ul li ul.submenu li:hover.section-title,
nav#top-nav ul li ul.submenu li.active.section-title {
  background: var(--nav-bg-color-400);
}
nav#top-nav ul li ul.submenu li.active a {
  cursor: default;
}
nav#top-nav ul li:hover > ul,
nav#top-nav ul li:focus-within > ul,
nav#top-nav ul li ul:hover,
nav#top-nav ul li ul:focus {
  visibility: visible;
  opacity: 1;
  display: block;
}
nav#top-nav ul li ul li {
  clear: both;
  width: 100%;
}
