@media (max-width: 768px) {
  .chartRow.billboard:not(.noCharts) .chartRow--donut {
    width: 100%;
    min-width: calc(var(--chart-width) + 50px);
    margin: 0 auto;
  }

  .chartRow.billboard:not(.noCharts) .chartRow--line {
    max-height: var(--chart-height);
  }
}
