@use "@tony/cv-ui/styles/_variables.scss";

.chartRow.victory:not(.noCharts) {
  .chartRow--donut {
    width: 100%;
    margin: 0 auto;
    height: var(--chart-height);
  }
  .chartRow--line {
    height: var(--chart-height);
  }
}
