.chartRow.victory:not(.noCharts) .chartRow--donut {
  margin: 0 auto;
  height: var(--chart-height);
  width: 350px;
}
.chartRow.victory:not(.noCharts) .chartRow--line {
  width: 100%;
  height: var(--chart-height);
}
