/* SimpleSwitch.scss in .css
 *
 * Credits:
 * - https://github.com/ava-cassiopeia/simple-switch/blob/v0.8.0/src/sass/SimpleSwitch.scss
 * - https://raw.githubusercontent.com/ava-cassiopeia/simple-switch/v0.8.0/src/sass/SimpleSwitch.scss
 */

._simple-switch-checkbox {
  height: 0px;
  width: 0px;
  overflow: hidden;
  opacity: 0;
}
._simple-switch-track {
  --simple-switch_size: 18px;
  font-size: inherit;
  display: inline-block;
  position: relative;
  vertical-align: baseline;
  background: #ccc;
  border-radius: 18px;
  padding: 0 calc((18px * 1.25) - 6px) 0 0;
  border: 3px solid #ccc;
  transition: background 250ms ease-out, border 250ms ease-out;
  outline: none;
  box-sizing: padding-box;
}
@supports (--foobar: false) {
  border-radius: var(--simple-switch_size);
  padding: 0 calc((var(--simple-switch_size) * 1.25) - 6px) 0 0;
}
._simple-switch-track.on {
  background: #f44336;
  border: 3px solid #f44336;
}
._simple-switch-track.on .handle {
  transform: translateX(calc((18px * 1.25) - 6px));
}
@supports (--foobar: false) {
  transform: translateX(calc((var(--simple-switch_size) * 1.25) - 6px));
}
._simple-switch-track.focus {
  border: 3px solid #03a9f4;
}
._simple-switch-track .handle {
  position: relative;
  width: calc(12px);
  height: calc(12px);
  border-radius: 18px;
  background: #fff;
  display: block;
  transition: transform 250ms ease-out;
  will-change: transition;
  z-index: 2;
}
@supports (--foobar: false) {
  width: calc(var(--simple-switch_size) - 6px);
  height: calc(var(--simple-switch_size) - 6px);
  border-radius: var(--simple-switch_size);
}
._simple-switch-track._simple-switch_disabled {
  background-color: #fccbc7;
  border-color: #fccbc7;
  cursor: default;
}
._simple-switch-track._material {
  padding: 0;
  margin: 3px 0;
  height: 15px;
  width: 27px;
  border: none;
  vertical-align: top;
}
@supports (--foobar: false) {
  height: calc(var(--simple-switch_size) - 3px);
  width: calc(var(--simple-switch_size) * 1.5);
}
._simple-switch-track._material.on {
  background: #f44336;
}
._simple-switch-track._material.on:after {
  transform: translateX(15px);
}
@supports (--foobar: false) {
  transform: translateX(calc(var(--simple-switch_size) - 3px));
}
._simple-switch-track._material.on .handle {
  background: #d2190b;
  transform: translateX(15px);
}
@supports (--foobar: false) {
  transform: translateX(calc(var(--simple-switch_size) - 3px));
}
._simple-switch-track._material:after {
  content: "";
  position: absolute;
  top: -9.25px;
  left: -10px;
  width: 32px;
  height: 32px;
  z-index: 1;
  background: rgba(0, 0, 0, 0.125);
  border-radius: 32px;
  opacity: 0;
  will-change: opacity;
  transition: opacity 250ms ease-out, transform 250ms ease-out;
}
@supports (--foobar: false) {
  width: calc(var(--simple-switch_size) + 14px);
  height: calc(var(--simple-switch_size) + 14px);
  border-radius: calc(var(--simple-switch_size) + 14px);
}
._simple-switch-track._material.focus:after {
  opacity: 1;
}
._simple-switch-track._material .handle {
  position: absolute;
  top: -2.25px;
  left: -3px;
  width: 18px;
  height: 18px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.4);
  transition: transform 250ms ease-out, background 250ms ease-out;
}
@supports (--foobar: false) {
  width: var(--simple-switch_size);
  height: var(--simple-switch_size);
}

/**
 * Custom
 */
._simple-switch-track {
  margin-right: 0.25rem;
}

._simple-switch-track .handle {
  z-index: 0;
}
