#our-nav {
  margin: -10px -10px -10px 0;
  .header--version {
    font-weight: bold;
    font-size: 1.2rem;
  }
  display: 'flex';

  > div, > ul {
    font-size: 1rem;
    display: inline-flex;
  }

  ul {
    background: darkorange;
    list-style: none;
    margin: 0;
    padding-left: 0;
  }

  li {
    color: #fff;
    background: darkorange;
    display: block;
    float: left;
    padding: 1rem;
    position: relative;
    text-decoration: none;
    transition-duration: 0.5s;
  }

  li a {
    color: #fff;
  }

  li:hover,
  li:focus-within {
    background: red;
    cursor: pointer;
  }

  li:focus-within a {
    outline: none;
  }

  ul li ul {
    background: orange;
    visibility: hidden;
    opacity: 0;
    min-width: 5rem;
    position: absolute;
    transition: all 0.5s ease;
    margin-top: 1rem;
    left: 0;
    display: none;
  }

  ul li:hover > ul,
  ul li:focus-within > ul,
  ul li ul:hover,
  ul li ul:focus {
    visibility: visible;
    opacity: 1;
    display: block;
  }

  ul li ul li {
    clear: both;
    width: 100%;
  }
}
