@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --sans-font: "IBM Plex Sans", -apple-system, BlinkMacSystemFont, "Segoe UI",
    Roboto, "Noto Sans", Ubuntu, Cantarell, "Helvetica Neue", sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  --theme-primary: #0854a0;
  --theme-primary-300: #0a63bd;
  --chart-height: 250px;
  --chart-width: 250px;
  --top-nav-height: 3rem;
  --background-color: #fff;
  --text-color: #000;
  --text-color-inverted: #fff;
  --text-middle-color: #5f6368;
  --container-width: 900px;
  --link-color: #1c1c1c;
  --tag-background-color: #f5f5f5;
  --tag-text-color: var(--text-middle-color, #4a4a4a);
  --tag-small-background-color: pink;
  --results-container-background-color: white;
  --results-info-text-color: #70757a;
  --activity-text-color: gray;
  --activity-link-color: #5b616b;
  --card-hover-background-color: #0085f230;
  --card-grid-left-side-link-color: #5f6368;
  --card-grid-left-side-link-hover-color: #000;
  --mobile-buttons-background-color: #ffffff;
  --mobile-buttons-toggle-text-color: #000;
  --mobile-buttons-toggle-btn-box-shadow-color: #3e94cf;
  --date-range-tick-label-color: rgba(0, 0, 0, 0.5);
  --toggle-label-color: #6b778c;
  --chart-container-background: white;
  --chart-label-color: black;
  --chart-background-color: #f7f7f7;
  --chart-link-color: #666;
  --chart-link-color-hover: #999;
  --line-chart-fill-color: var(--cv-dominant-language-background, #ffffff0f);
  --line-chart-tooltip-text: var(--cv-dominant-language-color, #ffffff0f);
  --line-chart-tooltip-background: var(--cv-dominant-language-background, #ffffff0f);
  --line-chart-grid-stroke: #dddddd;
  --line-chart-grid-tick: #999;
  --loading-screen-min-height: calc(100vh - var(--top-nav-height));
  --react-select-control: var(--chart-container-background);
  --react-select-menu: var(--chart-background-color);
  --react-select-menu-list: var(--chart-container-background);
  --react-select-option-background: inherit;
  --react-select-option-text: var(--text-color);
  --react-select-option-hover-background: #a9c2d6;
  --react-select-option-hover-text: var(--text-color);
  --react-select-option-selected-background: var(--theme-primary);
  --react-select-option-selected-text: var(--text-color-inverted);
  --react-select-option-selected-hover-background: var(--theme-primary-300);
  --react-select-option-selected-hover-text: var(--text-color-inverted);
  --react-select-input-container-text: var(--text-color);
  --react-select-tag-color: black;
  --react-select-tag-hover-color: white;
}

/* @media (prefers-color-scheme: dark) { */
html.dark {
  --theme-primary: #0b1723;
  --theme-primary-300: #143453;
  --background-color: #0b1723;
  --text-color: #fff;
  --text-middle-color: #cdcdcd;
  --text-color-inverted: #000;
  --link-color: #343434;
  --tag-background-color: var(--background-color);
  --tag-text-color: var(--text-middle-color);
  --results-container-background-color: #ffffff0f;
  --results-info-text-color: #fff;
  --activity-text-color: #ffffff90;
  --activity-link-color: #5b616b;
  --card-hover-background-color: #0085f230;
  --card-grid-left-side-link-color: #cdcdcd;
  --card-grid-left-side-link-hover-color: white;
  --mobile-buttons-background-color: var(--results-container-background-color);
  --mobile-buttons-toggle-text-color: #fff;
  --mobile-buttons-toggle-btn-box-shadow-color: #3e94cf;
  --date-range-tick-label-color: rgba(255, 255, 255, 0.5);
  --toggle-label-color: #cdcdcd;
  --chart-container-background: #ffffff0f;
  --chart-background-color: var(--background-color, #ffffff0f);
  --chart-link-color: #cdcdcd;
  --chart-link-color-hover: white;
  --chart-label-color: white;
  --line-chart-grid-stroke: #ffffff5a;
  --line-chart-grid-tick: #ffffff69;
  --react-select-option-hover-background: var(--theme-primary-300);
  --react-select-option-hover-text: var(--text-color);
  --react-select-option-selected-text: var(--text-color);
  --react-select-option-selected-hover-text: var(--text-color);
  --react-select-tag-color: white;
  --react-select-tag-hover-color: white;
}

.react-select .react-select__control {
  @apply border-[var(--line-chart-grid-stroke)] bg-[var(--react-select-control)];
}

.react-select .react-select__menu {
  @apply border-[var(--line-chart-grid-stroke)] border bg-[var(--chart-background-color)] text-[var(--text-color)];
}

.react-select .react-select__menu-list {
  @apply bg-[var(--react-select-menu-list)] text-[var(--text-color)];
}

.react-select .react-select__control:hover {
  @apply border-[var(--line-chart-grid-tick)];
}

.react-select .react-select__option {
  @apply bg-[var(--react-select-option-background)] text-[var(--react-select-option-text)];
}

.react-select .react-select__option.react-select__option--is-disabled,
.react-select .react-select__option.react-select__option--is-disabled:hover {
  @apply bg-[var(--react-select-option-selected-background)] opacity-40;
}

.react-select .react-select__option.react-select__option--is-focused,
.react-select .react-select__option:hover {
  @apply bg-[var(--react-select-option-hover-background)] text-[var(--react-select-option-hover-text)];
}

.react-select .react-select__option--is-selected {
  @apply bg-[var(--react-select-option-selected-background)] text-[var(--react-select-option-selected-text)] font-bold;
}

.react-select .react-select__option.react-select__option--is-focused.react-select__option--is-selected,
.react-select .react-select__option--is-selected:hover {
  @apply bg-[var(--react-select-option-selected-background)] text-[var(--react-select-option-selected-hover-text)];
}

.react-select .react-select__input-container,
.react-select .react-select__placeholder,
.react-select .react-select__single-value {
  @apply text-[var(--react-select-input-container-text)];
}

body {
  @apply m-0 mb-1 bg-[var(--background-color)] text-[var(--text-color)] font-[var(--sans-font)];
}

.card-grid > div {
  @apply mb-auto;
}

.activity-link {
  @apply text-gray-500 hover:text-slate-500;
}

.tag {
  @apply p-1 text-center justify-center items-center rounded-sm tracking-widest select-none whitespace-nowrap leading-tight font-bold inline-flex text-xs;
  @apply bg-[var(--tag-background-color)] text-[var(--tag-text-color)];
}

#settings {
  @apply w-[var(--container-width)] mx-auto;
}

.dropdown-row {
  @apply mx-auto;
}

@media (max-width: 1023px) {
  .dropdown-row {
    @apply w-[98%] max-w-none mx-auto my-1;
  }
}

#results-info {
  @apply flex self-center justify-center text-[var(--results-info-text-color)] text-center;
}

#results-info img {
  @apply ml-1;
}

#results-container {
  @apply bg-[var(--results-container-background-color)];
}

#results-bottom {
  @apply block h-1;
}

#mobile-buttons {
  @apply flex justify-center h-8 text-center;
}

#mobile-buttons button.toggle-btn {
  @apply border-0 bg-transparent text-[var(--mobile-buttons-toggle-text-color)] font-[var(--sans-font)];
}

@media (min-width: 767px) {
  #mobile-buttons {
    @apply hidden;
  }
}

@media (max-width: 767px) {
  #mobile-buttons .toggle-btn:not(:first-child) {
    @apply ml-1;
  }
}

@media screen and (max-width: 767px) {
  #settings {
    @apply !hidden;
  }

  #settings.active {
    @apply !block !mr-0 !ml-0 !pr-0 !pl-0;
  }

  #settings.active .dropdown-row {
    @apply pb-0;
  }

  #settings.active .toggles {
    @apply h-auto pb-0;
  }
}

@media (max-width: 1023px) {
  #settings {
    @apply w-full;
  }
}

#chart-menu {
  @apply w-full text-[0.9rem] text-center;
}

#chart-menu button {
  @apply text-[var(--chart-link-color)] text-[0.9rem];
}

#chart-menu button.active {
  @apply font-semibold;
}

#chart-menu button:hover {
  @apply text-[var(--chart-link-color-hover)];
}

#chart-menu .chart-link {
  @apply cursor-pointer;
}

.loading-chart {
  @apply flex flex-col items-center justify-center h-[var(--chart-height)] text-center;
}

.dropdown-row {
  @apply grid grid-rows-1 grid-cols-1 md:grid-cols-3 gap-2.5 text-[var(--react-select-tag-color)];
}

@media (max-width: 1023px) {
  .dropdown-row {
    @apply pt-0;
  }
}

.dropdown-row .activity-count,
.dropdown-row .topic-tags {
  @apply flex-grow place-self-center text-right text-[var(--react-select-tag-color)];
}

.dropdown-row .topic-tags:hover {
  @apply text-[var(--react-select-tag-hover-color)];
}

.dropdown-category-option {
  @apply flex place-items-center leading-6;
}

#loading-screen {
  @apply flex flex-col items-center justify-center min-h-[var(loading-screen-min-height)] text-center;
}

/* Reset button for a11y usage */
button {
  all: unset;
  outline: revert;
}
