$bg-color: #0854a0;
$bg-color-400: lighten($bg-color, 5);
$bg-color-600: darken($bg-color, 10);
$bg-color-700: darken($bg-color, 20);
$bg-color-800: darken($bg-color, 30);
$bg-color-900: darken($bg-color, 40);

$nav-height: 2rem;

#our-nav {
  background: $bg-color;
  display: flex;
  place-items: center;
  height: $nav-height;

  .logo {
    padding: 0 1rem;
    color: white;
    text-shadow: 1px 1px 0px rgba(51, 51, 51, 1);
    .header--version {
      font-weight: bold;
      font-size: 1rem;
    }
    .header--super {
      font-weight: bold;
      font-size: 0.6rem;
      vertical-align: super;
    }

    @media (max-width: 375px) {
      .header--lastname, .header--version, .header--super {
        display: none;
      }
    }

    @media (max-width: 1023px) {
      .header--version, .header--super {
        display: none;
      }
    }
  }

  > div, > ul {
    font-size: 0.8rem;
    display: inline-flex;
  }

  ul {
    list-style: none;
    margin: 0;
    padding-left: 0;
  }

  li {
    padding: 0 1rem;
    @media (max-width: 768px) {
      padding: 0 .5rem;
    }
    height: $nav-height;
    color: #fff;
    position: relative;
    text-decoration: none;
    transition-duration: 0.5s;
    display: flex;
    place-items: center;

    img {
      padding: 0 .5rem;
    }
  }

  li a {
    color: #fff;
    text-decoration: none;
    display: flex;
  }

  li {
    background: $bg-color;
  }

  li.active,
  li:hover,
  li:focus-within {
    z-index: 6000;
    background: $bg-color-600;
  }

  li:focus-within a {
    outline: none;
  }

  ul li ul.submenu {
    li {
      background: $bg-color-400;
      &:hover, &.active {
        background: $bg-color;
        &.section-title {
          background: $bg-color-400;
        }
      }
      &.active a {
        cursor: default;
      }
    }
    width: 15rem;
    background: $bg-color-400;
    visibility: hidden;
    opacity: 0;
    min-width: 5rem;
    position: absolute;
    transition: all 0.5s ease;
    top: $nav-height;
    left: 0;
    display: none;
  }

  ul li:hover > ul,
  ul li:focus-within > ul,
  ul li ul:hover,
  ul li ul:focus {
    visibility: visible;
    opacity: 1;
    display: block;
  }

  ul li ul li {
    clear: both;
    width: 100%;
  }
}
