:root {
  --color-scheme-icon-height: 2rem;
  --color-scheme-icon-width: 2rem;
  --color-scheme-toggle-icon-btn-color: #ffffff10;
}

.color-scheme-toggle {
  display: flex;
  margin-right: var(--top-nav-icon-size);
}
.color-scheme-toggle--icon {
  display: flex;
  place-content: center;
  align-items: center;
  width: var(--color-scheme-icon-width);
  height: var(--color-scheme-icon-height);
  margin-left: var(--top-nav-icon-separation);
  user-select: none;
}
.color-scheme-toggle--icon--clear {
  cursor: pointer;
  filter: grayscale(0.5);
}
.color-scheme-toggle--icon--clear.disabled {
  cursor: default;
  filter: grayscale(1);
}
.color-scheme-toggle--icon:hover:not(.disabled) {
  background-color: var(--color-scheme-toggle-icon-btn-color);
  cursor: pointer;
}
.color-scheme-toggle--icon .color-scheme-toggle--icon--mode {
  filter: grayscale(1);
}
.color-scheme-toggle--icon:hover:not(.disabled)
  .color-scheme-toggle--icon--mode {
  filter: grayscale(0);
}
