:root {
  --color-scheme-icon-height: 2rem;
  --color-scheme-icon-width: 2rem;
  --color-scheme-toggle-icon-btn-color: #ffffff10;
}

.color-scheme-popover:focus-visible {
  outline: var(--color-scheme-toggle-icon-btn-color) solid 1px;
}

.color-scheme-popover {
  z-index: 10;
  padding: 0.25rem;
  border-radius: 0.25rem;
  background-color: var(--top-nav-bg-color);
  box-shadow: 1px 1px 0px var(--top-nav-site-name-text-shadow-color);
  color: var(--text-color);
}

.color-scheme-toggle {
  @apply flex justify-start items-center gap-1.5 rounded;
  color: var(--top-nav-site-name-text-color);
}

.color-scheme-toggle.active,
.color-scheme-toggle:hover:not(.disabled) {
  background-color: var(--color-scheme-toggle-icon-btn-color);
  cursor: pointer;
}

.color-scheme-toggle--icon {
  display: flex;
  place-content: center;
  align-items: center;
  width: var(--color-scheme-icon-width);
  height: var(--color-scheme-icon-height);
  user-select: none;
}

.color-scheme-toggle--icon .color-scheme-toggle--icon--mode {
  filter: grayscale(1);
}

.color-scheme-toggle:hover
  .color-scheme-toggle--icon:not(.disabled)
  .color-scheme-toggle--icon--mode {
  filter: grayscale(0);
}
