:root {
  --top-nav-bg-color: var(--theme-primary);
  --top-nav-bg-color-400: #0961b8;
  --top-nav-bg-color-600: #063b6f;
  --top-nav-bg-color-800: #01080e;
  --top-nav-bg-color-900: black;
  --top-nav-logo-size: 3rem;
  --top-nav-icon-separation: 0.25rem;
  --top-nav-site-name-text-color: white;
  --top-nav-site-name-text-shadow-color: #ffffff40;
}

html.light,
html:not(.dark) {
  --bg-image-url: url("/logo.svg");
}

/* @media (prefers-color-scheme: dark) { */
html.dark {
  --bg-image-url: url("/logo-dark.svg");
  --top-nav-bg-color: var(--theme-primary);
  --top-nav-site-name-text-color: white;
  --top-nav-site-name-text-shadow-color: #333;
}

.site-info {
  display: flex;
  width: 100%;
}

.site-info--filler {
  flex-grow: 1;
}

.site-info--color-scheme-toggle--container {
  display: flex;
  place-items: center;
}

@media (max-width: 1023px) {
  .site-info--color-scheme-toggle--container {
    margin-right: 0.5rem;
  }
}

nav#top-nav {
  display: flex;
  place-items: center;
  width: 100%;
  height: var(--top-nav-height);
  background: var(--top-nav-bg-color);
}
.top-nav--container {
  width: var(--container-width);
  margin: 0 auto;
}
nav#top-nav .site-info--site-name {
  display: flex;
  place-items: center;
  padding: 0 1rem 0 0.5rem;
  color: var(--top-nav-site-name-text-color);
  font-size: 1rem;
  line-height: 1.25rem;
  text-shadow: 1px 1px 0px var(--top-nav-site-name-text-shadow-color);
}
nav#top-nav .site-info--logo {
  height: var(--top-nav-height);
}

nav#top-nav .site-info--logo--img {
  display: block;
  width: var(--top-nav-logo-size);
  height: var(--top-nav-height);
  background: var(--bg-image-url) var(--top-nav-icon-separation) center
    no-repeat;
}

nav#top-nav .site-info--logo .header--version {
  margin-left: 0.5rem;
  font-weight: bold;
  font-size: 1rem;
}
nav#top-nav .site-info--logo .header--super {
  font-weight: bold;
  font-size: 0.6rem;
  vertical-align: super;
}
@media (max-width: 375px) {
  nav#top-nav .site-info--logo .header--lastname,
  nav#top-nav .site-info--logo .header--version,
  nav#top-nav .site-info--logo .header--super {
    display: none;
  }
}
@media (max-width: 1023px) {
  nav#top-nav .site-info--logo .header--version,
  nav#top-nav .site-info--logo .header--super {
    display: none;
  }
}
nav#top-nav > div,
nav#top-nav > ul {
  display: inline-flex;
  font-size: 0.8rem;
}
nav#top-nav ul {
  margin: 0;
  padding-left: 0;
  list-style: none;
}
nav#top-nav li {
  display: flex;
  position: relative;
  place-items: center;
  height: var(--top-nav-height);
  padding: 0 1rem;
  background: var(--top-nav-bg-color);
  color: #fff;
  text-decoration: none;
  transition-duration: 0.5s;
}
@media (max-width: 768px) {
  nav#top-nav li {
    padding: 0 0.5rem;
  }
}
nav#top-nav li img {
  padding: 0 0.5rem;
}
@media (max-width: 481px) {
  nav#top-nav li.framework .label {
    display: none;
  }
}
nav#top-nav li a {
  display: flex;
  color: #fff;
  font-size: 0.95rem;
  text-decoration: none;
}
nav#top-nav li.active,
nav#top-nav li:hover,
nav#top-nav li:focus-within {
  z-index: 6000;
  background: var(--top-nav-bg-color-600);
}
nav#top-nav li:focus-within a {
  outline: none;
}
nav#top-nav ul li ul.submenu {
  display: none;
  visibility: hidden;
  position: absolute;
  top: var(--top-nav-height);
  left: 0;
  width: 15rem;
  min-width: 5rem;
  background: var(--top-nav-bg-color-400);
  opacity: 0;
  transition: all 0.5s ease;
}
nav#top-nav ul li ul.submenu li {
  background: var(--top-nav-bg-color-400);
}
nav#top-nav ul li ul.submenu li:hover,
nav#top-nav ul li ul.submenu li.active {
  background: var(--top-nav-bg-color);
}
nav#top-nav ul li ul.submenu li:hover.section-title,
nav#top-nav ul li ul.submenu li.active.section-title {
  background: var(--top-nav-bg-color-400);
}
nav#top-nav ul li ul.submenu li.active a {
  cursor: default;
}
nav#top-nav ul li:hover > ul,
nav#top-nav ul li:focus-within > ul,
nav#top-nav ul li ul:hover,
nav#top-nav ul li ul:focus {
  display: block;
  visibility: visible;
  opacity: 1;
}
nav#top-nav ul li ul li {
  width: 100%;
  clear: both;
}
