:root {
  --top-nav-bg-color: var(--theme-primary);
  --top-nav-bg-color-400: #0961b8;
  --top-nav-bg-color-600: #063b6f;
  --top-nav-bg-color-800: #01080e;
  --top-nav-bg-color-900: black;
  --top-nav-logo-size: 3rem;
  --top-nav-icon-separation: 0.25rem;
  --top-nav-site-name-text-color: white;
  --top-nav-site-name-text-shadow-color: #ffffff40;
}
