@use "@tony/cv-nav/components/nav.scss" as nav;

$chart-height: 400px;

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    "Noto Sans", Ubuntu, Cantarell, "Helvetica Neue", sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  margin: 0;
}

.site-name {
  font-size: 2rem;
  text-align: center;
  margin-bottom: 1rem;
}

a {
  color: rgb(28, 28, 28);
  font-size: 1.2rem;
  text-decoration: none;
}

.card {
  box-shadow: 0 0 0 1px rgba(16, 22, 26, 0.15), 0 0 0 rgba(16, 22, 26, 0),
    0 0 0 rgba(16, 22, 26, 0);
  border-radius: 0.5rem;
  padding: 0.7rem;
  font-size: 0.875rem;
  display: flex;
  align-items: center;
  justify-content: space-between;

  a {
    font-size: 0.875rem;
  }

  margin-bottom: 1rem;
  &:last-child {
    margin-bottom: 0;
  }
}

.activity-link {
  color: #5b616b;
}

.tag {
  user-select: none;
  background-color: #f5f5f5;
  border-radius: 4px;
  color: #4a4a4a;
  display: inline-flex;
  font-size: 0.6875rem;
  font-weight: bold;
  letter-spacing: 0.07272727em;
  line-height: 1rem;
  padding: 0.5em 0.75em;

  white-space: nowrap;
  -webkit-box-align: center;
  box-align: center;
  align-items: center;
  box-pack: center;
  -webkit-box-pack: center;
  justify-content: center;
  align-items: center;
  justify-content: center;

  &:last-child {
    margin-right: 0;
    margin-left: 0;
  }
}

.activityCardList, .dropdownRow {
  margin: 0 auto;
  max-width: 70%;

  @media (max-width: 1023px) {
    width: 90%;
    max-width: initial;
    margin: 3rem auto;
  }

}

.ml0 {
  margin-left: 0;
}

.fr {
  float: right;
}

.df {
  display: flex !important;
}

.resultsMessage {
  color: #70757a;
  padding-bottom: 1rem;
  text-align: center;
}

.dropdownRow {
  padding-top: 1rem;
  padding-bottom: 1rem;
  display: grid;
  grid-template-rows: 1fr;
  gap: 10px 10px;
  grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));

  .activityCount, // On languages
  .topicTags // on Tags
  {
    text-align: right;
    flex-grow: 1;

    &:hover {
      color: white;
    }
  }


}

.dropdownActivityTypeOption {
  display: flex !important;
  place-items: center;
  line-height: 24px;
}

.chartRow {
  &.noCharts {
    grid-template-rows: initial;
  }

  display: grid;
  grid-template-columns: $chart-height 1fr;
  grid-auto-rows: 1fr;
  justify-items: stretch;
  align-items: stretch;

  @media (max-width: 1023px) {
    grid-template-columns: minmax(250px, 33%) auto;
    grid-template-rows: 300px;
    &--donut,
    &--line {
      grid-column: span 1;
    }
  }

  @media (max-width: 768px) {
    grid-template-columns: 1fr;
    width: 100%;
    grid-template-rows: $chart-height;
    &--line {
      height: $chart-height;
    }
  }
}

.cardGrid {
  display: grid;
  height: 100%;
  grid-template-areas: "headline languages"
  "content content"
  "footer footer";
  grid-template-columns: 5fr 2fr;
  grid-template-rows: 1fr 1fr 1fr;

  & > div {
    margin-bottom: auto;
  }

  .footer {
    grid-area: footer;
    .tag {
      margin-right: 0.5rem;
    }
    margin-bottom: 0;
  }
  .content {
    grid-area: content;
  }

  .languages {
    grid-area: languages;
    text-align: right;
    .tag {
      margin-left: 0.5rem;
    }
  }
}

.container > div {
  border: 1px dashed #888;
}

#loading-screen {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  min-height: calc(100vh - #{nav.$nav-height});
}

.loading-chart {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: $chart-height;
}


#chart-links {
  padding: 0.5rem 1rem;
  font-size: 0.9rem;
  a {
    font-size: 0.9rem;
    color: #666;
    &.active {
      font-weight: 600;
    }
    &:hover {
      color: #999;
    }
  }
}

.callouts { // https://github.com/carbon-design-system/carbon-charts/issues/917
  display: none;
}
