@media (max-width: 768px) {
  .chartRow.nivo:not(.noCharts) .chartRow--donut {
    justify-self: initial;
  }
}

.chartRow.nivo:not(.noCharts) .chartRow--donut {
  width: var(--chart-width);
}

.chartRow.nivo:not(.noCharts) .chartRow--donut,
.chartRow.nivo:not(.noCharts) .chartRow--line {
  min-height: var(--chart-height);
  height: var(--chart-height);
}
