.chartRow.nivo:not(.noCharts) {
  @media (max-width: 768px) {
    .chartRow--donut {
      justify-self: initial;
    }
  }

  .chartRow--donut, .chartRow--line {
    min-height: 400px;
    height: 400px;
  }
}
