@media (max-width: 768px) {
  .chart-row.nivo:not(.no-charts) .chart-row--donut {
    justify-self: initial;
  }
}

/** Nivo exception: Needing deep styling **/
#charts.nivo .chart-row--line {
  /* Workaround: Without this the line chart will not paint */
  aspect-ratio: 1/1;
}

#charts.nivo .chart-row--donut div:not(.loading-chart) {
  /* Workaround: Without this the donut will not center. */
  display: flex;
  justify-content: center;

  /* Tooltips */
  color: var(--line-chart-tooltip-background);
}
#charts.nivo .chart-row--line svg g text {
  fill: var(--chart-label-color) !important;
}
