div#year-range {
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 3;
  max-width: 70%;
  margin: 0 auto;
}
@media (max-width: 1023px) {
  div#year-range {
    width: 90%;
    max-width: initial;
  }
}
