.toggles label {
  font-size: 0.85rem;
  font-style: inherit;
  color: #6b778c;
  font-weight: 600;
  display: inline-block;
}

div.toggles {
  margin: 0 auto;
  max-width: 70%;
  height: 50px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}
@media (max-width: 1023px) {
  div.toggles {
    width: 90%;
    max-width: initial;
    margin: 0 auto;
  }
}
