.toggles label {
  display: inline-block;
  color: var(--toggle-label-color);
  font-style: inherit;
  font-weight: 600;
  font-size: 0.85rem;
}

div.toggles {
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 70%;
  height: 50px;
  margin: 0 auto;
  text-align: center;
}
@media (max-width: 1023px) {
  div.toggles {
    width: 90%;
    max-width: initial;
    margin: 0 auto;
  }
}
