:root {
  --sans-font: "IBM Plex Sans", -apple-system, BlinkMacSystemFont, "Segoe UI",
    Roboto, "Noto Sans", Ubuntu, Cantarell, "Helvetica Neue", sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  --theme-primary: #0854a0;
  --theme-primary-300: #0a63bd;
  --chart-height: 250px;
  --chart-width: 250px;
  --top-nav-height: 3rem;
  --background-color: #f3f3f4;
  --text-color: #000;
  --text-color-inverted: #fff;
  --text-middle-color: #5f6368;
  --container-width: 900px;
  --link-color: #1c1c1c;
  --tag-background-color: #f5f5f5;
  --tag-text-color: var(--text-middle-color, #4a4a4a);
  --tag-small-background-color: pink;
  --results-container-background-color: white;
  --results-info-text-color: #70757a;
  --activity-text-color: gray;
  --activity-link-color: #5b616b;
  --card-hover-background-color: #0085f230;
  --card-grid-left-side-link-color: #5f6368;
  --card-grid-left-side-link-hover-color: #000;
  --mobile-buttons-background-color: #ffffff;
  --mobile-buttons-toggle-text-color: #000;
  --mobile-buttons-toggle-btn-box-shadow-color: #3e94cf;
  --date-range-tick-label-color: rgba(0, 0, 0, 0.5);
  --toggle-label-color: #6b778c;
  --chart-container-background: white;
  --chart-label-color: black;
  --chart-background-color: #f7f7f7;
  --chart-link-color: #666;
  --chart-link-color-hover: #999;
  --line-chart-fill-color: var(--cv-dominant-language-background, #ffffff0f);
  --line-chart-tooltip-text: var(--cv-dominant-language-color, #ffffff0f);
  --line-chart-tooltip-background: var(
    --cv-dominant-language-background,
    #ffffff0f
  );
  --line-chart-grid-stroke: #dddddd;
  --line-chart-grid-tick: #999;
  --react-select-control: var(--chart-container-background);
  --react-select-menu: var(--chart-background-color);
  --react-select-menu-list: var(--chart-container-background);
  --react-select-option-background: inherit;
  --react-select-option-text: var(--text-color);
  --react-select-option-hover-background: #a9c2d6;
  --react-select-option-hover-text: var(--text-color);
  --react-select-option-selected-background: var(--theme-primary);
  --react-select-option-selected-text: var(--text-color-inverted);
  --react-select-option-selected-hover-background: var(--theme-primary-300);
  --react-select-option-selected-hover-text: var(--text-color-inverted);
  --react-select-input-container-text: var(--text-color);
  --react-select-tag-color: black;
  --react-select-tag-hover-color: white;
}

/* @media (prefers-color-scheme: dark) { */
html.dark {
  --theme-primary: #0b1723;
  --theme-primary-300: #143453;
  --background-color: #0b1723;
  --text-color: #fff;
  --text-middle-color: #cdcdcd;
  --text-color-inverted: #000;
  --link-color: #343434;
  --tag-background-color: var(--background-color);
  --tag-text-color: var(--text-middle-color);
  --results-container-background-color: #ffffff0f;
  --results-info-text-color: #fff;
  --activity-text-color: #ffffff90;
  --activity-link-color: #5b616b;
  --card-hover-background-color: #0085f230;
  --card-grid-left-side-link-color: #cdcdcd;
  --card-grid-left-side-link-hover-color: white;
  --mobile-buttons-background-color: var(--results-container-background-color);
  --mobile-buttons-toggle-text-color: #fff;
  --mobile-buttons-toggle-btn-box-shadow-color: #3e94cf;
  --date-range-tick-label-color: rgba(255, 255, 255, 0.5);
  --toggle-label-color: #cdcdcd;
  --chart-container-background: #ffffff0f;
  --chart-background-color: var(--background-color, #ffffff0f);
  --chart-link-color: #cdcdcd;
  --chart-link-color-hover: white;
  --chart-label-color: white;
  --line-chart-grid-stroke: #ffffff5a;
  --line-chart-grid-tick: #ffffff69;
  --react-select-option-hover-background: var(--theme-primary-300);
  --react-select-option-hover-text: var(--text-color);
  --react-select-option-selected-text: var(--text-color);
  --react-select-option-selected-hover-text: var(--text-color);
  --react-select-tag-color: white;
  --react-select-tag-hover-color: white;
}

.react-select .react-select__control {
  border-color: var(--line-chart-grid-stroke);
  background-color: var(--react-select-control);
}

.react-select .react-select__menu {
  border: var(--line-chart-grid-stroke) 1px solid;
  background-color: var(--chart-background-color);
  color: var(--text-color);
}

.react-select .react-select__menu-list {
  background-color: var(--react-select-menu-list);
  color: var(--text-color);
}

.react-select .react-select__control:hover {
  border-color: var(--line-chart-grid-tick);
}

.react-select .react-select__option {
  background-color: var(--react-select-option-background);
  color: var(--react-select-option-text);
}

.react-select .react-select__option.react-select__option--is-disabled,
.react-select .react-select__option.react-select__option--is-disabled:hover
{
  background-color: var(--react-select-option-selected-background);
  opacity: 0.4;
}

.react-select .react-select__option:hover {
  background-color: var(--react-select-option-hover-background);
  color: var(--react-select-option-hover-text);
}

.react-select .react-select__option--is-selected {
  background-color: var(--react-select-option-selected-background);
  color: var(--react-select-option-selected-text);
  font-weight: bold;
}

.react-select .react-select__option--is-selected:hover {
  background-color: var(--react-select-option-selected-hover-background);
  color: var(--react-select-option-selected-hover-text);
}

.react-select .react-select__input-container,
.react-select .react-select__placeholder,
.react-select .react-select__single-value {
  color: var(--react-select-input-container-text);
}

body {
  margin: 0 0 1rem 0;
  background-color: var(--background-color);
  color: var(--text-color);
  font-family: var(--sans-font);
}
.site-name {
  margin-bottom: 1rem;
  font-size: 2rem;
  text-align: center;
}
@media (max-width: 1023px) {
  .dh-tablet {
    display: none;
  }
}
@media (max-width: 1023px) {
  .fss-tablet {
    font-size: 0.7rem !important;
  }
}
a {
  color: var(--link-color);
  font-size: 1.2rem;
  text-decoration: none;
}
p {
  margin: 0;
}
.card {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 1rem;
  padding: 1rem;
  border-radius: 0.75rem;
  font-size: 0.875rem;
}
.card:hover {
  background-color: var(--card-hover-background-color);
}
@media (max-width: 1023px) {
  .card {
    margin: 0 0.25rem;
    padding: 0.2rem;
  }
}
.card a {
  font-size: 0.875rem;
}
.card:last-child {
  margin-bottom: 0;
}
.card-org-name {
  font-weight: 600;
}
.card-section-separator {
  padding: 0 0.5rem;
}
.card-date-text-left {
  padding-left: 0.25rem;
}
.card-category-and-date {
  color: var(--activity-text-color);
}
.card-activity-title {
  padding-top: 0.25rem;
  font-size: 1rem;
}
.card-activity-info {
  padding-top: 0.25rem;
  font-size: 1rem;
}
.card-grid {
  -webkit-box-pack: justify;
  justify-content: space-between;
  height: 100%;
}
.card-grid > div {
  margin-bottom: auto;
}
.card-grid .left-side {
  flex-grow: 1;
  align-items: center;
  margin-bottom: 0;
}
.card-grid .left-side .tag {
  margin-right: 0.5rem;
}
.card-grid .left-side .tag.orgTag {
  margin-left: 0.5rem;
}
.card-grid .left-side .tag.orgTag:only-child {
  margin-left: 0;
}
.card-grid .left-side a {
  color: var(--card-grid-left-side-link-color);
}
.card-grid .left-side a:hover {
  color: var(--card-grid-left-side-link-hover-color);
}
.card-grid .left-side .activity-link-row {
  font-size: 0.8rem;
}
.card-grid .left-side .activity-link-row a {
  font-size: inherit;
  opacity: 0.6;
}
.card-grid .left-side .activity-link-row a:hover {
  opacity: 1;
}
.card-grid .right-side {
  text-align: right;
}
.card-grid .right-side .tag {
  margin-top: 0.5rem;
  margin-left: 0.5rem;
}
.card-grid .right-side .tag:only-child {
  margin-top: 0;
}
.activity-link {
  color: var(--activity-link-color);
}

.language-tag {
  display: inline-flex;
}

.tag {
  -webkit-box-align: center;
  box-align: center;
  box-pack: center;
  -webkit-box-pack: center;
  display: inline-flex;
  align-items: center;
  align-items: center;
  justify-content: center;
  justify-content: center;
  padding: 0.5em 0.75em;
  border-radius: 4px;
  background-color: var(--tag-background-color);
  color: var(--tag-text-color);
  font-weight: bold;
  font-size: 0.6875rem;
  line-height: 1rem;
  letter-spacing: 0.07272727em;
  white-space: nowrap;
  user-select: none;
}

.tag.small {
  padding: 0.25em;
  background-color: var(--tag-small-background-color);
  font-size: 0.6rem;
}
.tag:last-child {
  margin-right: 0;
  margin-left: 0;
}
#settings {
  width: var(--container-width);
  margin: 0 auto;
}
.dropdown-row {
  margin: 0 auto;
}
@media (max-width: 1023px) {
  .dropdown-row {
    width: 98%;
    max-width: initial;
    margin: 0.5rem auto;
  }
}
.ml0 {
  margin-left: 0;
}
.fr {
  float: right;
}
.df {
  display: flex !important;
}
#results-info {
  display: flex;
  align-self: center;
  justify-content: center;
  margin-top: 1rem;
  padding-bottom: 1rem;
  color: var(--results-info-text-color);
  text-align: center;
}
#results-info img {
  margin-left: 0.25rem;
}
#results-container {
  min-width: var(--container-width);
  max-width: 40%;
  margin: 0.5rem auto;
  padding: 0.1rem 0;
  border-radius: 0.75rem;
  background-color: var(--results-container-background-color);
}
@media (max-width: 1023px) {
  #results-container {
    width: 100%;
    min-width: initial;
    max-width: initial;
    margin: 0.5rem auto;
  }
}
#results-bottom {
  display: block;
  height: 1.25rem;
}
#mobile-buttons {
  display: flex;
  justify-content: center;
  height: 30px;
  background-color: var(--mobile-buttons-background-color);
  text-align: center;
}
#mobile-buttons button.toggle-btn {
  border: 0;
  background-color: initial;
  color: var(--mobile-buttons-toggle-text-color);
  font-family: var(--sans-font);
}
#mobile-buttons button.toggle-btn:focus,
#mobile-buttons button.toggle-btn:active,
#mobile-buttons button.toggle-btn.active {
  box-shadow:
    0 0 3px var(--mobile-buttons-toggle-btn-box-shadow-color),
    0 0 7px var(--mobile-buttons-toggle-btn-box-shadow-color);
}
@media (min-width: 767px) {
  #mobile-buttons {
    display: none;
  }
}
@media (max-width: 767px) {
  #mobile-buttons .toggle-btn:not(:first-child) {
    margin-left: 0.5rem;
  }
}
@media screen and (max-width: 768px) {
  #settings {
    display: none !important;
  }
  #settings.active {
    display: block !important;
    margin-right: 0;
    margin-left: 0;
    padding-right: 0;
    padding-left: 0;
  }
  #settings.active .dropdown-row {
    padding-bottom: 0;
  }
  #settings.active .toggles {
    height: auto;
    padding-bottom: 0;
  }
}
@media (max-width: 1023px) {
  #settings {
    width: 100%;
  }
}
#chart-menu {
  width: 100%;
  margin-bottom: 0.25rem;
  font-size: 0.9rem;
  text-align: center;
}
#chart-menu button {
  color: var(--chart-link-color);
  font-size: 0.9rem;
}
#chart-menu button.active {
  font-weight: 600;
}
#chart-menu button:hover {
  color: var(--chart-link-color-hover);
}
#charts {
  display: flex;
  width: calc(100% - 1rem);
  min-width: 900px;
  max-width: 40%;
  margin: 0.5rem auto;
  padding: 0.1rem 0;
  border-radius: 0.75rem;
  background-color: var(--chart-container-background);
  color: var(--chart-label-color);
}

/** Carbon start **/
#charts.carbon g text {
  fill: var(--chart-label-color) !important;
}
#charts.carbon .cds--chart-holder {
  --cds-grid-bg: var(--chart-background-color);
}
#charts.carbon .cds--chart-holder .cds--cc--area-stacked path.area {
  fill: var(
    --cv-dominant-language-background,
    var(--cds-kAcharts-1-1-1, #6929c4)
  );
}
#charts.carbon .cds--chart-holder .cds--cc--line path.line {
  stroke: var(
    --cv-dominant-language-background,
    var(--cds-charts-1-1-1, #6929c4)
  );
}
.dark #charts.carbon .cds--chart-holder .y.grid .tick,
.dark #charts.carbon .cds--chart-holder .x.grid .tick {
  opacity: 0.4;
}
/** Carbon end **/

/** Billboard start **/
#charts.billboard .bb-tooltip-container {
  color: black;
}
.dark #charts.billboard .chart-row--line .bb-event-rects .bb-event-rect {
  fill: var(--chart-background-color);
}
#charts.billboard .chart-row--line svg g text {
  fill: var(--chart-label-color);
}
#charts.billboard .chart-row--line svg g line.bb-ygrid {
  stroke: var(--line-chart-grid-stroke);
}
#charts.billboard .chart-row--line svg .bb-areas-activityYearMap path {
  fill: var(--line-chart-fill-color) !important;
}
#charts.billboard .chart-row--line svg .bb-shapes-activityYearMap path.bb-line {
  stroke: var(--line-chart-fill-color) !important;
}
/** Billboard end **/

/** Plotly start **/
#charts.plotly div.svg-container g.subplot.xy g.xtick text,
#charts.plotly div.svg-container g.subplot.xy g.ytick text {
  fill: var(--chart-label-color) !important;
}
#charts.plotly div.svg-container > svg.main-svg {
  background: initial !important;
}
#charts.plotly .chart-row--line .bglayer rect.bg {
  fill: var(--chart-background-color) !important;
}
#charts.plotly .chart-row--line g.plot g.points path.point,
#charts.plotly .chart-row--line g.plot g.lines path.js-line {
  stroke: var(--line-chart-fill-color) !important;
}
#charts.plotly .chart-row--line g.plot g.fills path.js-fill,
#charts.plotly .chart-row--line g.plot g.points path.point {
  fill: var(--line-chart-fill-color) !important;
}
#charts.plotly .chart-row--line g.gridlayer g.x path.xgrid,
#charts.plotly .chart-row--line g.gridlayer g.y path.ygrid {
  stroke: var(--line-chart-grid-stroke) !important;
}

/** Plotly end **/

/** Victory start **/
.dark #charts.victory g line {
  opacity: 0.4;
}
.dark #charts.victory .chart-row--donut text tspan,
.dark #charts.victory .chart-row--line text tspan {
  fill: var(--chart-label-color) !important;
}
/** Victory end **/

/** Nivo start **/
#charts.nivo .chart-row--donut div:not(.loading-chart) {
  /* Tooltips */
  color: var(--line-chart-tooltip-background);
}
#charts.nivo .chart-row--line svg g text {
  fill: var(--chart-label-color) !important;
}
/** Nivo end **/

@media (max-width: 1023px) {
  #charts {
    width: 100%;
    min-width: initial;
    max-width: initial;
    margin: 0.5rem auto;
  }
}
@media (max-width: 768px) {
  #charts {
    margin-right: 0;
    margin-left: 0;
    padding-right: 0;
    padding-left: 0;
  }
  .chart-row--donut,
  .chart-row--line {
    display: flex;
    place-content: center;
    width: var(--chart-width);
    max-width: var(--chart-width);
    margin: 0 auto;
    border-radius: 0;
  }
  .chart-row--donut {
    width: var(--chart-width);
    max-width: var(--chart-width);
    margin: 0 auto;
    padding: 0;
  }
  .chart-row--line {
    max-width: 90vw;
    margin: 0 auto;
    padding: 0;
  }
}
.chart-row {
  grid-gap: 1rem;
  display: grid;
  grid-template-columns: var(--chart-width) 1fr;
  grid-auto-rows: 1fr;
  align-items: stretch;
  justify-items: stretch;
  min-height: var(--chart-height);
  padding: 0.75rem;
}
.chart-row.no-charts {
  grid-template-rows: initial;
  height: auto;
}
.chart-row--donut {
  width: var(--chart-width);
  border-top-right-radius: 0 !important;
  border-bottom-right-radius: 0 !important;
}
.chart-row--line {
  width: 100%;
  border-top-left-radius: 0 !important;
  border-bottom-left-radius: 0 !important;
}
.chart-row--donut,
.chart-row--line {
  align-self: center;
  max-height: var(--chart-height);
  padding: 0.75rem 0.75rem 0.75rem 0.5rem;
  border-radius: 0.75rem;
}
@media (max-width: 1023px) {
  .chart-row {
    grid-template-rows: var(--chart-height);
    grid-template-columns: minmax(var(--chart-width), 33%) auto;
  }
  .chart-row--donut {
    justify-self: center;
    max-width: var(--chart-width);
    min-height: var(--chart-height);
    padding-bottom: 0.25rem;
  }
  .chart-row--donut,
  .chart-row--line {
    grid-column: span 1;
  }
}
@media (max-width: 768px) {
  .chart-row {
    grid-template-rows: var(--chart-height);
    grid-template-columns: 1fr;
    width: 100%;
  }
  .chart-row--line {
    height: var(--chart-height);
  }
}
@media screen and (max-width: 768px) {
  #charts,
  #chart-menu {
    display: none !important;
  }
  #charts.active,
  #chart-menu.active {
    display: block !important;
    margin: 0.5rem 0;
  }
}
@media screen and (max-width: 768px) {
  div.toggles {
    height: auto;
    padding-bottom: 1.5rem;
  }
}
.dropdown-row {
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr));
  padding-top: 1rem;
  padding-bottom: 1rem;
  gap: 10px 10px;
  color: var(--react-select-tag-color);
}
@media (max-width: 1023px) {
  .dropdown-row {
    padding-top: 0;
  }
}
.dropdown-row .activity-count,
.dropdown-row .topic-tags {
  flex-grow: 1;
  place-self: center;
  color: var(--react-select-tag-color);
  text-align: right;
}
.dropdown-row .topic-tags:hover {
  color: var(--react-select-tag-hover-color);
}
.dropdown-category-option {
  display: flex !important;
  place-items: center;
  line-height: 24px;
}

#loading-screen {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: calc(100vh - var(--top-nav-height));
  text-align: center;
}
.loading-chart {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: var(--chart-height);
  text-align: center;
}

/* Reset button for a11y usage */
button {
  all: unset;
  outline: revert;
}
