:root {
  --sans-font: "IBM Plex Sans", -apple-system, BlinkMacSystemFont, "Segoe UI",
    Roboto, "Noto Sans", Ubuntu, Cantarell, "Helvetica Neue", sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  --chart-height: 250px;
  --chart-width: 250px;
  --top-nav-height: 3rem;
  --background-color: #f3f3f4;
  --text-color: #000;
  --text-color-inverted: #fff;
  --card-border-color: rgba(16, 22, 26, 0.25);
  --card-hover-background-color: #fafafa;
  --activity-link-color: #5b616b;
  --link-color: #1c1c1c;
  --tag-background-color: #f5f5f5;
  --tag-text-color: #4a4a4a;
  --tag-small-background-color: pink;
  --results-info-text-color: #70757a;
  --mobile-buttons-background-color: #f1f1f1;
  --mobile-buttons-toggle-text-color: #000;
  --mobile-buttons-toggle-btn-box-shadow-color: #3e94cf;
  --chart-link-color: #666;
  --chart-link-color-hover: #999;
  --card-grid-left-side-link-color: #5f6368;
  --card-grid-left-side-link-hover-color: #000;
  --date-range-tick-label-color: rgba(0, 0, 0, 0.5);
  --toggle-label-color: #6b778c;
  --results-container-background-color: white;
  --charts-background-color: white;
  --charts-text-color: black;
  --chart-row-line-background-color: white;
  --dropdown-text-color: black;
  --dropdown-hover-background: white;
  --activity-text-color: gray;
  --container-width: 900px;
}

/* @media (prefers-color-scheme: dark) { */
html.dark {
  --background-color: #0b1723;
  --text-color: #fff;
  --text-color-inverted: #000;
  --card-border-color: #ffffff1a;
  --card-hover-background-color: #0085f230;
  --activity-link-color: #5b616b;
  --link-color: #343434;
  --tag-background-color: #f5f5f5;
  --tag-text-color: #4a4a4a;
  --results-info-text-color: #fff;
  --mobile-buttons-background-color: var(--results-container-background-color);
  --mobile-buttons-toggle-text-color: #fff;
  --mobile-buttons-toggle-btn-box-shadow-color: #3e94cf;
  --chart-link-color: #cdcdcd;
  --chart-link-color-hover: white;
  --card-grid-left-side-link-color: #cdcdcd;
  --card-grid-left-side-link-hover-color: white;
  --date-range-tick-label-color: rgba(255, 255, 255, 0.5);
  --toggle-label-color: #cdcdcd;
  --results-container-background-color: #ffffff0f;
  /* --charts-background-color: rgba(104,107,130,.12); */
  --charts-background-color: #ffffff0f;
  --chart-row-line-background-color: #4e4e4e;
  --charts-text-color: white;
  --dropdown-text-color: black;
  --dropdown-hover-background: white;
  --activity-text-color: #ffffff90;
}

body {
  font-family: var(--sans-font);
  margin: 0 0 1rem 0;
  background-color: var(--background-color);
  color: var(--text-color);
}
.site-name {
  font-size: 2rem;
  text-align: center;
  margin-bottom: 1rem;
}
@media (max-width: 1023px) {
  .dh-tablet {
    display: none;
  }
}
@media (max-width: 1023px) {
  .fss-tablet {
    font-size: 0.7rem !important;
  }
}
a {
  color: var(--link-color);
  font-size: 1.2rem;
  text-decoration: none;
}
p {
  margin: 0;
}
.card {
  border-bottom: 1px solid var(--card-border-color);
  padding: 0.7rem;
  font-size: 0.875rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 1.5rem;
}
.card:hover {
  background-color: var(--card-hover-background-color);
}
@media (max-width: 1023px) {
  .card {
    margin: 0 0.25rem;
    padding: 0.2rem;
  }
}
.card a {
  font-size: 0.875rem;
}
.card:first-child {
  border-top: 1px solid var(--card-border-color);
}
.card:last-child {
  margin-bottom: 0;
  border-bottom: 1px solid var(--card-border-color);
}
.card-category-and-date {
  color: var(--activity-text-color);
}
.cardGrid {
  height: 100%;
  justify-content: space-between;
  -webkit-box-pack: justify;
}
.cardGrid > div {
  margin-bottom: auto;
}
.cardGrid .left-side {
  flex-grow: 1;
  margin-bottom: 0;
  align-items: center;
}
.cardGrid .left-side .tag {
  margin-right: 0.5rem;
}
.cardGrid .left-side .tag.orgTag {
  margin-left: 0.5rem;
}
.cardGrid .left-side .tag.orgTag:only-child {
  margin-left: 0;
}
.cardGrid .left-side a {
  color: var(--card-grid-left-side-link-color);
}
.cardGrid .left-side a:hover {
  color: var(--card-grid-left-side-link-hover-color);
}
.cardGrid .left-side .activityLinkRow {
  font-size: 0.8rem;
}
.cardGrid .left-side .activityLinkRow a {
  font-size: inherit;
  opacity: 0.6;
}
.cardGrid .left-side .activityLinkRow a:hover {
  opacity: 1;
}
.cardGrid .right-side {
  text-align: right;
}
.cardGrid .right-side .tag {
  margin-left: 0.5rem;
  margin-top: 0.5rem;
}
.cardGrid .right-side .tag:only-child {
  margin-top: 0;
}
.activity-link {
  color: var(--activity-link-color);
}
.tag {
  user-select: none;
  background-color: var(--tag-background-color);
  border-radius: 4px;
  color: var(--tag-text-color);
  display: inline-flex;
  font-size: 0.6875rem;
  font-weight: bold;
  letter-spacing: 0.07272727em;
  line-height: 1rem;
  padding: 0.5em 0.75em;
  white-space: nowrap;
  -webkit-box-align: center;
  box-align: center;
  align-items: center;
  box-pack: center;
  -webkit-box-pack: center;
  justify-content: center;
  align-items: center;
  justify-content: center;
}

.tag.small {
  background-color: var(--tag-small-background-color);
  font-size: 0.6rem;
  padding: 0.25em;
}
.tag:last-child {
  margin-right: 0;
  margin-left: 0;
}
#settings {
  width: var(--container-width);
  margin: 0 auto;
}
.dropdownRow {
  margin: 0 auto;
}
@media (max-width: 1023px) {
  .dropdownRow {
    width: 98%;
    max-width: initial;
    margin: 0.5rem auto;
  }
}
.ml0 {
  margin-left: 0;
}
.fr {
  float: right;
}
.df {
  display: flex !important;
}
#results-info {
  color: var(--results-info-text-color);
  padding-bottom: 1rem;
  text-align: center;
  margin-top: 1rem;
  display: flex;
  justify-content: center;
  align-self: center;
}
#results-info img {
  margin-left: 0.25rem;
}
#results-container {
  margin: 0.5rem auto;
  max-width: 40%;
  min-width: var(--container-width);
  background-color: var(--results-container-background-color);
  border-radius: 0.75rem;
  padding: 0.1rem 0;
}
@media (max-width: 1023px) {
  #results-container {
    width: 100%;
    max-width: initial;
    min-width: initial;
    margin: 0.5rem auto;
  }
}
#results-bottom {
  display: block;
  height: 1.25rem;
}
#mobile-buttons {
  background-color: var(--mobile-buttons-background-color);
  text-align: center;
  display: flex;
  justify-content: center;
  height: 30px;
}
#mobile-buttons button.toggle-btn {
  background-color: initial;
  color: var(--mobile-buttons-toggle-text-color);
  border: 0;
  font-family: var(--sans-font);
}
#mobile-buttons button.toggle-btn:focus,
#mobile-buttons button.toggle-btn:active,
#mobile-buttons button.toggle-btn.active {
  box-shadow:
    0 0 3px var(--mobile-buttons-toggle-btn-box-shadow-color),
    0 0 7px var(--mobile-buttons-toggle-btn-box-shadow-color);
}
@media (min-width: 767px) {
  #mobile-buttons {
    display: none;
  }
}
@media screen and (max-width: 768px) {
  #settings {
    display: none !important;
  }
  #settings.active {
    display: block !important;
    margin-left: 1rem;
    margin-right: 1rem;
  }
}
@media (max-width: 1023px) {
  #settings {
    width: 100%;
  }
}
#chart-links {
  font-size: 0.9rem;
  text-align: center;
  width: 100%;
  margin-bottom: 0.25rem;
}
#chart-links a {
  font-size: 0.9rem;
  color: var(--chart-link-color);
}
#chart-links a.active {
  font-weight: 600;
}
#chart-links a:hover {
  color: var(--chart-link-color-hover);
}
#charts-container {
  width: 100vw;
  margin: 0 auto;
}
#charts {
  margin: 0.5rem auto;
  max-width: 40%;
  min-width: 900px;
  width: calc(100% - 1rem);
  background-color: var(--charts-background-color);
  border-radius: 0.75rem;
  padding: 0.1rem 0;
  display: flex;
  color: var(--charts-text-color);
}

/** Carbon start **/
#charts.carbon g text {
  fill: var(--charts-text-color) !important;
}
.dark #charts.carbon .cds--chart-holder {
  --cds-grid-bg: var(--background-color);
}

.dark #charts.carbon .cds--chart-holder .y.grid .tick,
.dark #charts.carbon .cds--chart-holder .x.grid .tick {
  opacity: 0.4;
}
/** Carbon end **/

/** Billboard start **/
#charts.billboard .bb-tooltip-container {
  color: black;
}
#charts.billboard .chartRow--line svg g text {
  fill: var(--charts-text-color);
}
#charts.billboard .chartRow--line svg path,
#charts.billboard .chartRow--line svg line {
  stroke: var(--charts-text-color);
}
/** Billboard end **/

/** Plotly start **/
#charts.plotly div.svg-container g text {
  fill: var(--charts-text-color) !important;
}
#charts.plotly div.svg-container > svg.main-svg {
  background: initial !important;
}
/** Plotly end **/

/** Victory start **/
.dark #charts.victory g line {
  opacity: 0.4;
}
.dark #charts.victory .chartRow--line text tspan {
  fill: var(--charts-text-color) !important;
}
/** Victory end **/

/** Nivo start **/
#charts.nivo div {
  /* Tooltips */
  color: black;
}
#charts.nivo svg g text {
  fill: var(--charts-text-color) !important;
}
/** Nivo end **/

@media (max-width: 1023px) {
  #charts {
    width: 100%;
    max-width: initial;
    min-width: initial;
    margin: 0.5rem auto;
  }
}
@media (max-width: 768px) {
  #charts {
    padding-left: 0;
    padding-right: 0;
    margin-left: 0;
    margin-right: 0;
  }
  .chartRow--donut,
  .chartRow--line {
    border-radius: 0;
    max-width: var(--chart-width);
    width: var(--chart-width);
    place-content: center;
    display: flex;
    margin: 0 auto;
  }
  .chartRow--donut {
    max-width: var(--chart-width);
    width: var(--chart-width);
    margin: 0 auto;
    padding: 0;
  }
  .chartRow--line {
    max-width: 90vw;
    margin: 0 auto;
    padding: 0;
  }
}
.chartRow {
  display: grid;
  grid-template-columns: var(--chart-width) 1fr;
  grid-auto-rows: 1fr;
  justify-items: stretch;
  align-items: stretch;
  min-height: var(--chart-height);
  grid-gap: 1rem;
  padding: 0.75rem;
}
.chartRow.noCharts {
  grid-template-rows: initial;
  height: auto;
}
.chartRow--donut {
  border-top-right-radius: 0 !important;
  border-bottom-right-radius: 0 !important;
  width: var(--chart-width);
}
.chartRow--line {
  border-top-left-radius: 0 !important;
  border-bottom-left-radius: 0 !important;
  width: 100%;
}
.chartRow--donut,
.chartRow--line {
  max-height: var(--chart-height);
  align-self: center;
  border-radius: 0.75rem;
  padding: 0.75rem 0.75rem 0.75rem 0.5rem;
}
@media (max-width: 1023px) {
  .chartRow {
    grid-template-columns: minmax(var(--chart-width), 33%) auto;
    grid-template-rows: var(--chart-height);
  }
  .chartRow--donut {
    justify-self: center;
    padding-bottom: 0.25rem;
    max-width: var(--chart-width);
    min-height: var(--chart-height);
  }
  .chartRow--donut,
  .chartRow--line {
    grid-column: span 1;
  }
}
@media (max-width: 768px) {
  .chartRow {
    grid-template-columns: 1fr;
    width: 100%;
    grid-template-rows: var(--chart-height);
  }
  .chartRow--line {
    height: var(--chart-height);
  }
}
@media screen and (max-width: 768px) {
  #charts,
  #chart-links {
    display: none !important;
  }
  #charts.active,
  #chart-links.active {
    display: block !important;
  }
}
@media screen and (max-width: 768px) {
  div.toggles {
    height: auto;
    padding-bottom: 1.5rem;
  }
}
.dropdownRow {
  padding-top: 1rem;
  padding-bottom: 1rem;
  display: grid;
  grid-template-rows: 1fr;
  gap: 10px 10px;
  grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr));
  color: var(--dropdown-text-color);
}
@media (max-width: 1023px) {
  .dropdownRow {
    padding-top: 0;
  }
}
.dropdownRow .activityCount,
.dropdownRow .topicTags {
  text-align: right;
  flex-grow: 1;
  color: var(--dropdown-text-color);
  place-self: center;
}
.dropdownRow .activityCount:hover,
.dropdownRow .topicTags:hover {
  color: var(--dropdown-hover-background);
}
.dropdownCategoryOption {
  display: flex !important;
  place-items: center;
  line-height: 24px;
}

#loading-screen {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  min-height: calc(100vh - var(--top-nav-height));
}
.loading-chart {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: var(--chart-height);
}
